.frame {
    background-color: transparent;
    height: 15pt;
    width: 2.5%;
    margin: -50pt auto;
    transform: rotate(90deg);
    display: flex;
    border-radius: 30px;
    border: 3px solid white;
}
.point { 
    
    animation: point 1.5s infinite ease-out;
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: auto;
    border: 2px solid transparent;
    
}
@keyframes point {
    0% {
        transform: translateX(-15px);
    }
    30% {
        background-color: rgb(121, 118, 118);
    }
    
    100% {
        transform: translateX(15px);
        background-color: transparent;
    }
}